<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cn.smm.user.TeacherMapper">
			<select id="selectteacher" resultType="teacher">
			select * from teacher		
		</select>
		<insert id="add" parameterType="int">
			insert into teacher(id,name,password,sex) value (#{id},#{name},#{password},#{sex})
		</insert>
		<delete id="delete" parameterType="int">
		 	delete from teacher where id=#{id}
		</delete>
		<update id="update" parameterType="user">
			update teacher set name=#{name},password=#{password},sex=#{sex} where id=#{id}
		</update>
</mapper>
