<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cn.smm.user.StudentMapper">
		<select id="selectusers" resultType="student">
			select * from student		
		</select>
		<insert id="add" parameterType="int">
			insert into student(id,name,password,ban) value (#{id},#{name},#{password},#{ban})
		
		</insert>
		
		<delete id="delete" parameterType="int">
		 	delete from student where id=#{id}
		</delete>
		<update id="update" parameterType="student">
			update student set name=#{name},password=#{password},ban=#{ban} where id=#{id}
		</update>

</mapper>